.h-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cat-btn {
        background: red;
        padding: 15px;
        outline: none;
        border: none;
        border-radius: 50px;
        max-width: 150px;
        width: 150px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
}