.product-img {
    max-width: 100%;
    transition: .5s ease;
    object-position: bottom;
    overflow: hidden;
    position: relative;

    .product-title {
        color: $dirt-blue;
        padding-left: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,0.764703739585215) 85%, rgba(255,255,255,0) 100%);
    }
    
    img {
        max-width: 100%;
        height: 100%;
        display: block;
    }
}